#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #121212;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

/* General navbar styling */
.navbar {
  background-color: #fff; /* Change this to match your site's theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #f8f9fa; /* Darker shade when scrolled */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color; adjust as needed */
}

/* Navbar link styling */
.navbar-link {
  color: #555; /* Default link color */
  transition: color 0.3s ease;
}

.navbar-link:hover,
.navbar-link.active {
  color: #007bff; /* Highlight color on hover and when active */
}

/* Active link styling */
.active {
  font-weight: bold;
  color: #007bff !important; /* Ensures override */
}

/* Responsive navbar toggle */
.navbar-toggler {
  border-color: #ddd; /* Toggler icon border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  /* Customize the navbar toggler icon color and size as needed */
}

/* Adjust padding and margin for links */
.nav-link {
  margin-right: 15px; /* Spacing between links */
  padding: 5px 0; /* Padding for better click area */
}

/* Style adjustments for container and navbar collapse */
.container, .navbar-collapse {
  transition: max-height 0.3s ease;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
